<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/style/style_input.css}" rel="stylesheet" />
        <title>Авторизация</title>      
    </head>
    <body>
        
        <div class="auth">
            <h1 class="auth-title">Электронный журнал</h1> 
            <h1 class="auth-input"><i>Авторизация</i></h1>
            <div class="form">
                <form th:object="${auth}" th:action="@{/login}" method="post">
                    <input th:field="*{email}" class="input" type="text" name="email" id="input_log" placeholder="Электронная почта" required>
                    <input th:field="*{password}" class="input" type="password" name="pass" id="input_pass" placeholder="Пароль" required>
                    <input class="btn" type="submit" value="Войти">
                </form>
            </div>
        </div>
        
    </body>
</html>