<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/style/style.css}" rel="stylesheet" />
        <title>Преподаватель</title>
    </head>
    <body>

        <div class="header">
            <h1 class="header-title">Электронный журнал</h1>
        </div>

        <div>
            <p class="user" th:text="${user.firstName + ' ' + user.middleName + ' ' + user.lastName}"></p>
        </div>

        <div class="profile">
            <a class="profile-btn" th:href="@{/login}">Выход</a>
        </div>

        <div class="nav-btn">
            <a class="nav-linkBtn" href="../../group1/group1-1.html">Журнал</a>
        </div>

        <div class="form-check" style="border: 1px solid; padding-bottom: 5px; padding-right: 5px; padding-top: 5px; margin-right: 0px;">
            <form method="get" action="#" th:action="@{/user/{userId}(userId=${user.id},subjectId=${subjectId})}">

                <div style="display: inline-block; padding-left: 30px; margin-right: 20px; margin-top: 10px;">
                    <p style="font-weight: bold;">Предметы</p>
                    <select th:name="subjectId" aria-label=".form-select-lg example">
                        <option hidden="" value="0">---</option>
                        <option th:each="subject : ${user.groups[0].subjects}" th:value="${subject.id}"
                                th:text="${subject.name}" th:selected="${subject.id} == ${selectedSubjectId}"></option>
                    </select>
                </div>

                <div class="form-check" style="display: inline-block; padding-left: 30px; margin-right: 20px; margin-top: 10px;">
                    <p style="font-weight: bold;">Семестр</p>
                    <select aria-label=".form-select-lg example">
                        <option hidden="" value="0">---</option>
                        <option selected>1 семестр</option>
                        <option>2 семестр</option>
                        <option>3 семестр</option>
                        <option>4 семестр</option>
                        <option>5 семестр</option>
                        <option>6 семестр</option>
                        <option>7 семестр</option>
                        <option>8 семестр</option>
                    </select>
                </div>

                <input type="submit" class="dropbtn" value="Применить"/>
            </form>
        </div>

        <div style="display: flex;">
            <div style="flex-grow: 1; margin-right: 5px;">
                <table class="table table-bordered" style="width: 100%; margin-bottom: 0px;">
                    <thead class="t-head">
                    <tr>
                        <th th:each="control : ${subject?.controls}" style="white-space: pre-line"
                            th:text="|${control.type.name}
                        Срок сдачи: ${#temporals.format(control.dueDate, 'dd-MM-yyyy')}|"></th>
                        <th>Средний балл</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:each="score : ${scores}" th:classappend="${score.isSlacker ? 'slacker' : ''}">
                            <input th:value="${score.value}" disabled>
                            <span th:if="${score.passDate}" th:text="|Сдано: ${#temporals.format(score.passDate, 'dd-MM-yyyy')}|"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div style="border: 1px solid; width: 40%; height: 302px; padding: 5px;">
                <table>
                    <tr>
                        <td th:if="${selectedSubjectId == null}">
                            <div th:each="score : ${user.scores}" th:if="${score.isSlacker}" style="display: block;">
                                Задолженность по <span th:text="${score.subject.name}"></span>
                                (Тип контроля: <span th:text="${score.control.type.name}"></span>)
                            </div>
                        </td>
                        <td th:if="${selectedSubjectId}">
                            <div th:each="score : ${scores}" th:if="${score.isSlacker}" style="display: block;">
                                Задолженность по <span th:text="${score.subject.name}"></span>
                                (Тип контроля: <span th:text="${score.control.type.name}"></span>)
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>



        <script th:src="@{/js/script.js}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    </body>
</html>