<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <link th:href="@{/style/style.css}" rel="stylesheet"/>
        <title>Семестр</title>
    </head>

    <body>

        <div class="header">
            <h1 class="header-title">Электронный журнал</h1>
        </div>

        <div>
            <img class="img" src="#">
            <p class="user" th:text="${user.firstName + ' ' + user.middleName + ' ' + user.lastName}"></p>
        </div>

        <div class="profile">
            <a class="profile-btn" href="#" style="margin-right: 5px;">Профиль</a>
            <a class="profile-btn" th:href="login">Выход</a>
        </div>

        <div class="nav-btn">
            <a class="nav-linkBtn" href="#" style="background-color: #c9c9c9; color: #000000;">Журнал</a>
        </div>

        <div class="form-check" style="border: 1px solid; padding-bottom: 5px; padding-right: 5px; padding-top: 5px;">
            <form method="get" action="#"
                  th:action="@{/user/{userId}(userId=${user.id},subjectId=${subjectId},groupId=${groupId})}">

                <div class="" style="display: inline-block; padding-left: 30px; margin-right: 20px; margin-top: 10px;">
                    <p style="font-weight: bold;">Предметы</p>
                    <select th:name="subjectId" aria-label=".form-select-lg example">
                        <option hidden="" value="0">---</option>
                        <option th:each="subject : ${subjects}" th:value="${subject.id}"
                                th:text="${subject.name}"></option>
                    </select>
                </div>

                <div class="form-check" style="display: inline-block; padding-left: 30px; margin-right: 20px; margin-top: 10px;">
                    <p style="font-weight: bold;">Группы</p>
                    <select th:name="groupId" aria-label=".form-select-lg example">
                        <option hidden="" value="0">---</option>
                        <option th:each="group : ${groups}"
                                th:value="${group.id}" th:text="${group.name}"></option>
                    </select>
                </div>

                <div class="dropdown">
                    <button onclick="myFunction3()" class="dropbtn">1 семестр</button>

                    <div id="myDropdown3" class="dropdown-content">
                        <a href="#">1 семестр</a>
                        <a href="#">2 семестр</a>
                        <a href="#">3 семестр</a>
                        <a href="#">4 семестр</a>
                        <a href="#">5 семестр</a>
                        <a href="#">6 семестр</a>
                        <a href="#">7 семестр</a>
                        <a href="#">8 семестр</a>
                    </div>
                </div>

                <input type="submit" class="dropbtn" />

            </form>
        </div>

        <form method="post" action="#" th:object="${studentsForm}"
              th:action="@{/user/{userId}(userId=${user.id},subjectId=${subjectId},groupId=${groupId})}">
            <div>
                <input hidden th:name="subjectId" th:value="${subject?.id}">
                <input hidden th:if="${students!=null and !students.empty}"
                       th:name="groupId" th:value="${students[0].groups[0].id}">
                <table class="table table-bordered">
                    <thead class="t-head">
                    <tr>
                        <th>№</th>
                        <th>ФИО</th>
                        <th th:each="control : ${subject?.controls}"
                            th:text="${control.type.name}"></th>
                        <th>Средний балл</th>
                    </tr>
                    </thead>

                    <tbody>
                        <tr th:if="${students!=null and !students.empty}" th:each="student,stat : ${students}">
                            <th th:text="${stat.count}"></th>

                            <th th:text="${student.getFullName}"></th>
                            <input hidden th:name="|studentsForm[${stat.index}].id|" th:value="${student.id}">

                            <td th:each="score,itemStat : ${student.scores}"
                                th:classappend="${score.isSlacker ? 'slacker' : ''}">
                                <input hidden th:name="|studentsForm[${stat.index}].scores[${itemStat.index}].id|"
                                       th:value="${score.id}">

                                <input hidden
                                       th:name="|studentsForm[${stat.index}].scores[${itemStat.index}].controlId|"
                                       th:value="${score.control.id}">

                                <input hidden
                                       th:name="|studentsForm[${stat.index}].scores[${itemStat.index}].value|"
                                       th:value="${score.value}">
                                <input th:value="${score.value}"
                                       class="score" type="number" min="-100" max="100" disabled>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="btn-form">
                <a href="#">
                    <button type="submit" class="btn-edit" onclick="disable()">Сохранить</button>
                </a>
            </div>

        </form>

        <div class="btn-form">
            <a href="#">
                <button class="btn-edit" onclick="enable()">Редактировать</button>
            </a>
        </div>

        <script th:src="@{/js/script.js}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
                crossorigin="anonymous"></script>

    </body>
</html>